:root {
  --font-main: "Roboto", "Arial";
  --scrollbar-thumb-light: rgb(0 0 0 / 30%);
  --scrollbar-thumb-hover-light: rgb(0 0 0 / 50%);
  --scrollbar-thumb-dark: rgb(255 255 255 / 30%);
  --scrollbar-thumb-hover-dark: rgb(255 255 255 / 50%);
  --background-color-light: #FFF;
  --background-color-dark: #212121;
}